[submodule "ThirdParty/stduuid"]
	path = ThirdParty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "ThirdParty/RayTracingDenoiser"]
	path = ThirdParty/RayTracingDenoiser
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
[submodule "ThirdParty/FidelityFX-SDK"]
	path = ThirdParty/FidelityFX-SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK.git
